# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vscode
*cmake-build-debug
*.idea
test_project

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
*.eggs/
dist/
build/
*.manifest
*.spec
*.log
*.db
*.sqlite3
*.ipynb_checkpoints
.env
.venv
.venv*/
env/
venv/
venv*/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
.cache
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
celerybeat-schedule
*.sage.py
*.spyderproject
*.spyderworkspace
*.ropeproject
__pypackages__/

# C++
*.o
*.obj
*.exe
*.out
*.class
*.so
*.dll
*.dylib
*.a
*.lib
*.log
*.pch
*.pdb
*.ilk
*.suo
*.sdf
*.opensdf
*.vcxproj.user
*.vcxproj.filters
*.vcxproj.*
.idea/
.vscode/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
debug/
release/

# General
*.swp
*~
*.bak
*.tmp
*.temp
*.DS_Store
